-- xiaoli 法律AI平台 数据库初始化脚本
-- 用于 docker-compose 首次初始化

-- 创建数据库（如果不存在）
-- 注意：docker-entrypoint 会自动创建由 POSTGRES_DB 指定的主数据库

-- 开启扩展
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- ==================== 系统用户相关表 ====================

CREATE TABLE IF NOT EXISTS sys_user (
    id BIGSERIAL PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    phone VARCHAR(20),
    email VARCHAR(100),
    real_name VARCHAR(50),
    role VARCHAR(20) DEFAULT 'USER',
    status VARCHAR(20) DEFAULT 'ACTIVE',
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ==================== 法律咨询相关表（与Java实体匹配）====================

-- 咨询会话表
CREATE TABLE IF NOT EXISTS consult_conversations (
    id BIGSERIAL PRIMARY KEY,
    user_id BIGINT,
    title VARCHAR(255),
    conversation_type VARCHAR(50) DEFAULT 'GENERAL',
    status VARCHAR(20) DEFAULT 'ACTIVE',
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    deleted INTEGER DEFAULT 0
);

-- 咨询消息表
CREATE TABLE IF NOT EXISTS consult_messages (
    id BIGSERIAL PRIMARY KEY,
    conversation_id BIGINT,
    role VARCHAR(50),
    content TEXT,
    message_type VARCHAR(20) DEFAULT 'TEXT',
    reference_knowledge TEXT,
    reference_case TEXT,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    deleted INTEGER DEFAULT 0
);

-- ==================== 法律文书相关表 ====================

CREATE TABLE IF NOT EXISTS document_template (
    id BIGSERIAL PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    category VARCHAR(50),
    content TEXT,
    description TEXT,
    status VARCHAR(20) DEFAULT 'ACTIVE',
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS legal_document (
    id BIGSERIAL PRIMARY KEY,
    user_id BIGINT,
    title VARCHAR(200),
    content TEXT,
    template_id BIGINT,
    case_id BIGINT,
    status VARCHAR(20) DEFAULT 'DRAFT',
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (template_id) REFERENCES document_template(id)
);

CREATE TABLE IF NOT EXISTS document_version (
    id BIGSERIAL PRIMARY KEY,
    document_id BIGINT NOT NULL,
    version_number INTEGER DEFAULT 1,
    content TEXT,
    change_description TEXT,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (document_id) REFERENCES legal_document(id)
);

-- ==================== 案例相关表 ====================

CREATE TABLE IF NOT EXISTS legal_case (
    id BIGSERIAL PRIMARY KEY,
    case_number VARCHAR(100) UNIQUE,
    case_type VARCHAR(50),
    title VARCHAR(200),
    court_level VARCHAR(20),
    judgment_result VARCHAR(500),
    case_facts TEXT,
    judgment_reason TEXT,
    legal_basis TEXT,
    key_points TEXT,
    sentence VARCHAR(200),
    amount_involved DECIMAL(15,2),
    case_date DATE,
    publish_date DATE,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS case_analysis (
    id BIGSERIAL PRIMARY KEY,
    case_id BIGINT,
    user_id BIGINT,
    analysis_type VARCHAR(50),
    analysis_result TEXT,
    confidence_score DECIMAL(5,2),
    key_factors TEXT,
    risk_assessment TEXT,
    recommendations TEXT,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ==================== 合同相关表 ====================

CREATE TABLE IF NOT EXISTS contract (
    id BIGSERIAL PRIMARY KEY,
    contract_number VARCHAR(100) UNIQUE,
    contract_type VARCHAR(50),
    party_a VARCHAR(200),
    party_b VARCHAR(200),
    title VARCHAR(200),
    content TEXT,
    amount DECIMAL(15,2),
    start_date DATE,
    end_date DATE,
    status VARCHAR(20) DEFAULT 'DRAFT',
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS contract_issue (
    id BIGSERIAL PRIMARY KEY,
    contract_id BIGINT NOT NULL,
    issue_type VARCHAR(50),
    description TEXT,
    severity VARCHAR(20) DEFAULT 'LOW',
    suggestion TEXT,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (contract_id) REFERENCES contract(id)
);

-- ==================== 证据相关表 ====================

CREATE TABLE IF NOT EXISTS evidence (
    id BIGSERIAL PRIMARY KEY,
    case_id BIGINT,
    user_id BIGINT,
    evidence_type VARCHAR(50),
    evidence_name VARCHAR(200),
    description TEXT,
    file_path VARCHAR(500),
    source VARCHAR(100),
    credibility DECIMAL(5,2),
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS evidence_analysis (
    id BIGSERIAL PRIMARY KEY,
    evidence_id BIGINT NOT NULL,
    analysis_type VARCHAR(50),
    analysis_result TEXT,
    confidence_score DECIMAL(5,2),
    findings TEXT,
    recommendations TEXT,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (evidence_id) REFERENCES evidence(id)
);

-- ==================== 合规相关表 ====================

CREATE TABLE IF NOT EXISTS compliance_check (
    id BIGSERIAL PRIMARY KEY,
    check_type VARCHAR(50),
    check_item VARCHAR(200),
    check_result VARCHAR(20),
    findings TEXT,
    recommendations TEXT,
    case_id BIGINT,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ==================== 决策相关表 ====================

CREATE TABLE IF NOT EXISTS decision_support (
    id BIGSERIAL PRIMARY KEY,
    case_id BIGINT,
    decision_type VARCHAR(50),
    decision_content TEXT,
    reasoning TEXT,
    confidence_score DECIMAL(5,2),
    alternatives TEXT,
    create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ==================== 插入测试用户 ====================

INSERT INTO sys_user (username, password, phone, email, real_name, role, status)
VALUES ('admin', '$2a$10$N.zmdr9k7uOCQb376NoUnuTJ8iAt6Z5EHsM8lE9lBOsl7iAt6Z5EH', '13800138000', 'admin@xiaoli.com', '系统管理员', 'ADMIN', 'ACTIVE')
ON CONFLICT (username) DO NOTHING;

-- ==================== 创建索引 ====================

CREATE INDEX IF NOT EXISTS idx_consult_conversations_user_id ON consult_conversations(user_id);
CREATE INDEX IF NOT EXISTS idx_consult_conversations_status ON consult_conversations(status);
CREATE INDEX IF NOT EXISTS idx_consult_messages_conversation_id ON consult_messages(conversation_id);
CREATE INDEX IF NOT EXISTS idx_consult_messages_role ON consult_messages(role);
CREATE INDEX IF NOT EXISTS idx_legal_case_case_number ON legal_case(case_number);
CREATE INDEX IF NOT EXISTS idx_legal_case_case_type ON legal_case(case_type);
CREATE INDEX IF NOT EXISTS idx_contract_contract_number ON contract(contract_number);
CREATE INDEX IF NOT EXISTS idx_evidence_case_id ON evidence(case_id);

-- 完成
